{% load static %}

<!DOCTYPE html>
<html>
<title>{% block title %}Dashboard{% endblock %}</title>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=0.5, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div> <h1><img class="logo" src="{% static 'images/AdiosLogo.png' %}" alt="Adios Logo"></h1>
</div>
</body>
</html>
{% block content %}
<h1>Dashboard</h1>
<br>
<hr align="center" style="border: solid 5px #007BFF; width: 50%;"/>
<ul class="url-buttons">
    <li class="url-button">
        <a href="{% url 'attendances:attendance_list' %}" class="url-link">내 출석</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:notice' %}" class="url-link">공지</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:practice_date_list' %}" class="url-link">투표</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:practice_available_list' %}" class="url-link">연습 불가 날짜 & 사유</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:all_attendance_list' %}" class="url-link">전체 출석 목록</a>
    </li>
</ul>
<h3>{{ student.name }}님, 오늘도 즐거운 연습되세요!</h3>
{% if todays_attendance %}
<p>오늘은 이미 출석 체크하셨습니다.</p>
<h4>{{ message }}</h4>
{% else %}
    <form method="post" action="{% url 'attendances:check_in' %}">
    {% csrf_token %}
    <button type="submit">출석 체크</button>
</form>
{% endif %}
<button class="btn btn-primary"
        onclick="if (confirm('로그아웃 하시겠습니까?')) location.href='{% url 'attendances:user_login' %}';">
    로그아웃
</button>
{% endblock %}