{% load static %}

<!DOCTYPE html>
<html>
<title>{% block title %}Adios 동아리 출석 시스템{% endblock %}</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div> <h1><img class="logo" src="{% static 'images/AdiosLogo.png' %}" alt="Adios Logo"></h1>
</div>
</body>
</html>
<style>
    .btn {
      /* Set a fixed width and height for the buttons */
      width: 120px;
      height: 40px;
      /* Add other common button styles here */
      /* For example, you can set the background color, font size, etc. */
    }
</style>
{% block content %}
<h1>Adios Attendance</h1>
<hr align=center style="border: solid 5px #007BFF; width: 20%;">
<br>
<button class="btn btn-primary" onclick="location.href='{% url 'attendances:user_login' %}'">로그인</button>
<br>
<button class="btn btn-primary" onclick="location.href='{% url 'attendances:signup' %}'">회원가입</button>
<br>
{% endblock %}