{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block content %}
<h1>로그인</h1>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<form method="post" action="{% url 'attendance:login' %}">
    {% csrf_token %}
    <label for="student_id">학번:</label>
    <input type="text" id="student_id" name="student_id" required>
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <button type="submit">로그인</button>
</form>
<p>아직 회원이 아니신가요? <a href="{% url 'attendance:signup' %}">회원가입</a></p>
{% endblock %}




