{% extends 'base.html' %}

{% block title %}공지사항{% endblock %}

{% block content %}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -10px; /* 추가: 카드 간 좌우 간격 설정 */
    }

    .col-md-4 {
        flex-basis: calc(20% - 20px);
        margin: 10px; /* 수정: 카드 간 좌우 간격 설정 */
    }

    .card {
        height: 100%;
    }

    .card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-title {
        font-size: 18px; /* 글씨 크기 설정 */
        font-weight: bold; /* 굵기 설정 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    .page-link {
        margin-right: 10px; /* 원하는 간격(px)으로 조정 */
    }
</style>

<h1>공지사항</h1>
<hr align=center style="border: solid 5px #007BFF; width: 100%;">
<ul class="url-buttons">
    <li class="url-button">
        <a href="{% url 'attendances:dashboard' %}" class="url-link">Dashboard</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:attendance_list' %}" class="url-link">내 출석</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:notice' %}" class="url-link">공지</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:practice_date_list' %}" class="url-link">투표</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:practice_available_list' %}" class="url-link">연습 불가 날짜 & 사유</a>
    </li>
    <li class="url-button">
        <a href="{% url 'attendances:all_attendance_list' %}" class="url-link">전체 출석 목록</a>
    </li>
</ul>
<button class="btn btn-primary" onclick="location.href='{% url 'attendances:notice_add' %}'">공지 등록</button>
<form method="get" action="{% url 'attendances:notice' %}">
    <input type="text" name="q" placeholder="검색어를 입력하세요">
    <button type="submit">검색</button>
</form>

{% if query %}
<p>검색어: "{{ query }}"</p>
{% endif %}

{% if notices %}
<div class="row">
    {% for notice in notices %}
    <div class="col-md-4 mb-4">
        <div class="border border-primary rounded p-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ notice.title }}</h5>
                    <p class="card-text">{{ notice.content }}</p>
                    <p class="card-text">{{ notice.created_at|date:"Y-m-d H:i" }}</p>
                    <a href="{% url 'attendances:notice_detail' notice.id %}" class="btn btn-primary">상세 정보 확인</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Notice Pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}

        {% for num in current_page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
                    <span class="page-link">
                        {{ num }}
                    </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% else %}
<p>등록된 공지가 없습니다.</p>
{% endif %}
{% endblock %}


