{% extends 'base.html' %}

{% block title %}연습 일정 목록{% endblock %}

{% block content %}
<h1>연습 일정 목록</h1>
<button class="btn btn-primary" onclick="location.href='{% url 'attendances:practice_date' %}'">연습 일정 등록</button>
<ul class="blog-list">
    {% for available_date in available_dates %}
    <li>
        {{ available_date.date }} - {{ available_date.name }} ({{ available_date.date|date:"D" }})
        <br>
        {{ available_date.content }}
    </li>
    {% endfor %}
</ul>
<br>
<a href="{% url 'attendances:dashboard' %}">Dashboard로 돌아가기</a>
{% endblock %}